/* Box model fix */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.main {
  width: 25%;
}

.column1 {
  float: left;
  width: 10%;
  margin-top: 6px;
}

.column2 {
  float: left;
  width: 90%;
  padding-left: 10px;
  line-height: 0px;
}